.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
}

.friendImageAndText img {
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative; /* Для позиционирования хвостика */
    border-radius: 10px 10px 10px 0px; /* 3 закругленных угла */
    padding: 7px 13px;
    background-color: #f5f7fb;
    margin-left: 12px; /* Место для хвостика */
    display: flex;
    flex-direction: column;
    gap:4px
}

.friendText:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 51px;
    left: -11px;
    border-bottom: 10px solid #f5f7fb;
    border-left: 12px solid transparent;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    margin-top: 5px;
    margin-left: 10px;
}
